.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.1s linear;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}

.main {
  flex-grow: 1;
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: center;
}