.app.light {
  --bg-color: #86b192;
  --primary-color: #1b3322;
  --secondary-color: #2b4d35;

  --inverted-bg-color: #194125;
  --inverted-primary-color: #a5dfb6;
  --inverted-secondary-color: #7cab8b;
}