.AppLink {
  color: var(--inverted-primary-color);
  text-decoration: none;
  border: none;
  outline: none;
  :focus {
    border: none;
    outline: none;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-secondary-color)
}